<%= turbo_frame_tag dom_id(message) do %>
  <div class="messaged-message-container">
    <% if avatar_url_for %>
      <%= image_tag avatar_url_for(message.user), class: "messaged-avatar" %>
    <% end %>
    <div>
      <strong class="messaged-username"><%= message.user.first_name.capitalize %></strong>
      <span  class="messaged-timestamp"><%= time_ago_in_words(message.created_at) %> ago</span>
      <p  class="messaged-body"><%= message.body %></p>
      <div class="messaged-options">
        <span><%= link_to t('messaged.edit'), edit_message_path(message), class: "messaged-edit-link" %></span>
        <%= button_to t('messaged.delete'), message_path(message), method: :delete, form: { data: { turbo_confirm: t('messaged.confirm') } }, class: "messaged-delete-link" %>
      </div>
    </div>
  </div>
<% end %>